<!DOCTYPE html>
<html lang="en" ng-app="ExpApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- css -->
	<link rel="stylesheet" href="css/styles.css" />

</head>
<body ng-controller="mainCtrl">

	<!-- Form for adding an expense. On submit, info is added into an array on the service via controller -->
	<div id="add">
		<h1>Add an Expense</h1>
		<div>
			<form ng-submit="addExpense()">
				Merchant : <input type="text" ng-model='expense.merchant'> <br/>
				Total expense amount (including tax) : <input type="text" ng-model='expense.amount'> <br/>
				Date the expense occurred : <input type="text" placeholder="mm/dd/yyyy" ng-model='expense.date'> <br/>
				Comments : <input type="text" ng-model='expense.comments'> <br/>
				<button type="submit">Add Expense</button>
			</form>
		</div>
	</div>

	<div id="list">
		<h1>List of expenses</h1>
			<table>
				<!-- table headers -->
				<tr id="list-header">
					<td>Merchant</td>
					<td>Amount</td>
					<td>Date</td>
					<td>Comments</td>
					<td>Status</td>
					<td>Actions</td>
				</tr>
				<!-- expenses displayed here, loops through expense items inside list array -->
				<tr ng-repeat="item in list" contenteditable="" name="editable">
					<td>{{item.merchant}}</td>
					<td>${{item.amount}}</td>
					<td>{{item.date}}</td>
					<td>{{item.comments}}</td>
					<td contenteditable="false">
						{{item.status}}
					</td>
					<td contenteditable="false">
						<!-- Reimbursed button removes editability (which is done on the service).-->
						<!-- Reimbursed button removes all buttons, therefore, expense cannot be removed once status has been changed to "reimbursed "-->
						<button ng-click="reimburseExpense(item)" ng-show="item.newStatus">Reimbursed</button>
						<button ng-click="removeExpense(item.$$hashKey)" ng-show="item.newStatus">Remove</button>
					</td>
				</tr>
			</table>
		</ul>
	</div>
	

	<!-- angular -->
	<script src="angular.js"></script>
	<!-- js files -->
	<script src="js/app.js"></script>
	<script src="js/mainCtrl.js"></script>	
	<script src="js/mainService.js"></script>	

</body>
</html>